html {
    scroll-behavior: smooth;
}

body {
    background-color: #f6f6f6 , #c0c1c1 ;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}



.hamburger {
    display: none;
            font-size: 1.5rem;
            cursor: pointer;
            color: var(--text-white);
        }

.nav-scrolled {
    background-color:#0a192f ; 
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}


@media (max-width: 992px) {
    .hamburger {
       display: block;
       z-index: 1002;
   }
}    
.slider-container {
    overflow: hidden;
    cursor: grab;
}

.slider-track {
    display: flex;
    transition: transform 0.7s cubic-bezier(0.25, 1, 0.5, 1);
}

.slide {
    min-width: 100%;
    padding: 0 1rem;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
